In [ ]:
#unzipping the data
from zipfile import ZipFile
with ZipFile('drive/MyDrive/Colab Notebooks/data.zip', 'r') as zipobj:
  zipobj.extractall('drive/MyDrive/Colab Notebooks')

In [ ]:
!pip install parse

In [4]:
#importing basic libraries

import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob
from skimage.io import imread

## **Train_dataset**

In [90]:
path='drive/MyDrive/Colab Notebooks/Test_data/Train/airplane'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df1= pd.DataFrame()
df1['file_name']= filename
df1['image']='airplane'

In [91]:
path='drive/MyDrive/Colab Notebooks/Test_data/Train/animal'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df2= pd.DataFrame()
df2['file_name']= filename
df2['image']='animal'

In [92]:
path='drive/MyDrive/Colab Notebooks/Test_data/Train/car'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df3= pd.DataFrame()
df3['file_name']= filename
df3['image']='car'

In [93]:
path='drive/MyDrive/Colab Notebooks/Test_data/Train/human'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df4= pd.DataFrame()
df4['file_name']= filename
df4['image']='human'

In [94]:
path='drive/MyDrive/Colab Notebooks/Test_data/Train/truck'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df5= pd.DataFrame()
df5['file_name']= filename
df5['image']='truck'

In [95]:
df_1 = df1.append(df2)
df_2 = df3.append(df4)
df_3 = df_2.append(df5)
train_df = df_1.append(df_3)
train_df = train_df.reset_index(drop=True)
train_df

                                             file_name     image
0    drive/MyDrive/Colab Notebooks/Test_data/Train/...  airplane
1    drive/MyDrive/Colab Notebooks/Test_data/Train/...  airplane
2    drive/MyDrive/Colab Notebooks/Test_data/Train/...  airplane
3    drive/MyDrive/Colab Notebooks/Test_data/Train/...  airplane
4    drive/MyDrive/Colab Notebooks/Test_data/Train/...  airplane
..                                                 ...       ...
965  drive/MyDrive/Colab Notebooks/Test_data/Train/...     truck
966  drive/MyDrive/Colab Notebooks/Test_data/Train/...     truck
967  drive/MyDrive/Colab Notebooks/Test_data/Train/...     truck
968  drive/MyDrive/Colab Notebooks/Test_data/Train/...     truck
969  drive/MyDrive/Colab Notebooks/Test_data/Train/...     truck

[970 rows x 2 columns]

# Test_dataset

In [96]:
path='drive/MyDrive/Colab Notebooks/Test_data/Test'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
test_df= pd.DataFrame()
test_df['file_name']= filename
test_df

                                              file_name
0     drive/MyDrive/Colab Notebooks/Test_data/Test/0...
1     drive/MyDrive/Colab Notebooks/Test_data/Test/0...
2     drive/MyDrive/Colab Notebooks/Test_data/Test/0...
3     drive/MyDrive/Colab Notebooks/Test_data/Test/0...
4     drive/MyDrive/Colab Notebooks/Test_data/Test/0...
...                                                 ...
1935  drive/MyDrive/Colab Notebooks/Test_data/Test/0...
1936  drive/MyDrive/Colab Notebooks/Test_data/Test/0...
1937  drive/MyDrive/Colab Notebooks/Test_data/Test/0...
1938  drive/MyDrive/Colab Notebooks/Test_data/Test/0...
1939  drive/MyDrive/Colab Notebooks/Test_data/Test/0...

[1940 rows x 1 columns]

# **Validation_dataset**

In [97]:
path='drive/MyDrive/Colab Notebooks/Test_data/Val/airplane'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df6= pd.DataFrame()
df6['file_name']= filename
df6['image']='airplane'

In [98]:
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df7= pd.DataFrame()
df7['file_name']= filename
df7['image']='animal'

In [99]:
path='drive/MyDrive/Colab Notebooks/Test_data/Val/car'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df8= pd.DataFrame()
df8['file_name']= filename
df8['image']='car'

In [100]:
path='drive/MyDrive/Colab Notebooks/Test_data/Val/human'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df9= pd.DataFrame()
df9['file_name']= filename
df9['image']='human'

In [101]:
path='drive/MyDrive/Colab Notebooks/Test_data/Val/truck'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
df10= pd.DataFrame()
df10['file_name']= filename
df10['image']='truck'

In [102]:
df__1 = df6.append(df7)
df__2 = df8.append(df9)
df__3 = df__2.append(df10)
val_df = df__1.append(df__3)
val_df = val_df.reset_index(drop=True)
val_df

                                              file_name     image
0     drive/MyDrive/Colab Notebooks/Test_data/Val/ai...  airplane
1     drive/MyDrive/Colab Notebooks/Test_data/Val/ai...  airplane
2     drive/MyDrive/Colab Notebooks/Test_data/Val/ai...  airplane
3     drive/MyDrive/Colab Notebooks/Test_data/Val/ai...  airplane
4     drive/MyDrive/Colab Notebooks/Test_data/Val/ai...  airplane
...                                                 ...       ...
2905  drive/MyDrive/Colab Notebooks/Test_data/Val/tr...     truck
2906  drive/MyDrive/Colab Notebooks/Test_data/Val/tr...     truck
2907  drive/MyDrive/Colab Notebooks/Test_data/Val/tr...     truck
2908  drive/MyDrive/Colab Notebooks/Test_data/Val/tr...     truck
2909  drive/MyDrive/Colab Notebooks/Test_data/Val/tr...     truck

[2910 rows x 2 columns]

# Converting images to Arrays using Open CV

In [103]:
import cv2
import numpy as np

def img_conv(path):
  img = imread(path,as_gray=True)
  img1 = img.flatten()
  return img1

train_arr=[]
for i in range(len(train_df)):
  #print(i)
  output=img_conv(train_df['file_name'][i])
  train_arr.append(output)

test_arr=[]
for i in range(len(test_df)):
  #print(i)
  output=img_conv(test_df['file_name'][i])
  test_arr.append(output)

val_arr=[]
for i in range(len(val_df)):
  #print(i)
  output=img_conv(val_df['file_name'][i])
  val_arr.append(output)

In [106]:
x_train=[]
y_train=[]
x_val=[]
y_val=[]

In [107]:
x_train=train_arr
y_train=[]
x_val=val_arr
y_val=[]

for i in range(len(train_df)):
  y_train.append(train_df['image'][i])

for i in range(len(val_df)):
  y_val.append(val_df['image'][i])

In [108]:
# Normalise the data
x_train = np.array(x_train)/255
x_val = np.array(x_val)/255

In [109]:
y_train = np.array(y_train)
y_val = np.array(y_val)

In [110]:
# Import label encoder for encoding the imag types
from sklearn import preprocessing
from tensorflow.keras.utils import to_categorical
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

y_train = to_categorical(label_encoder.fit_transform(y_train))
y_val = to_categorical(label_encoder.fit_transform(y_val))

In [111]:
y_train.shape

(970, 5)

In [112]:
y_val.shape

(2910, 5)

In [113]:
x_train=np.expand_dims(x_train,axis=2)
x_val=np.expand_dims(x_val,axis=2)

In [114]:
x_train.shape

(970, 9216, 1)

In [115]:
x_val.shape

(2910, 9216, 1)

# Using Keras Tuner to tune the **hyper** **parameters**

Developing deep learning models is an iterative process, You start with an initial architecture then reconfigure until you get a model that can be trained efficiently in terms of time and compute resources.These settings that you adjust are called hyperparameters, you get the idea, you write code and see the performance, and again you to the same process until you have good performance. Hyperparameters plays an important role in developing a good model, it can make large differences, it will help you to prevent overfitting.

So, there is a way where you can adjust the setting of your neural networks which is called hyperparameters and the process of finding a good set of hyperparameters is called hyperparameter tuning.

Keras tuner is a library for tuning the hyperparameters of a neural network that helps you to pick optimal hyperparameters in your neural network implement in Tensorflow.

In [116]:
!pip install keras-tuner

In [118]:
def build_model(hp):
  model = keras.Sequential()
  model.add(layers.Flatten(input_shape=(9216,)))
  #1st layer
  model.add(layers.Dense(units=hp.Int('units', min_value=256, max_value=512, step=64), activation=hp.Choice("activation",["sigmoid","relu"])))
  if hp.Boolean("dropout"):
    model.add(layers.Dropout(rate=0.25))
  #2nd layer
  model.add(layers.Dense(units=hp.Int('units', min_value=256, max_value=512, step=64), activation=hp.Choice("activation",["sigmoid","relu"])))
  if hp.Boolean("dropout"):
    model.add(layers.Dropout(rate=0.25))
  #3rd layer
  model.add(layers.Dense(units=hp.Int('units', min_value=256, max_value=512, step=64), activation=hp.Choice("activation",["sigmoid","relu"])))
  if hp.Boolean("dropout"):
    model.add(layers.Dropout(rate=0.25))
  #4th layer
  model.add(layers.Dense(units=hp.Int('units', min_value=256, max_value=512, step=64), activation=hp.Choice("activation",["sigmoid","relu"])))

  model.add(layers.Dense(5, activation='softmax'))
  model.compile(optimizer=keras.optimizers.Adam(hp.Choice('learning_rate', values=[1e-2,1e-3,1e-4])),
                loss = 'categorical_crossentropy', metrics = ['accuracy'])
  return model

In [119]:
tuner = RandomSearch(
    build_model,
    objective = 'val_accuracy',
    max_trials = 5,
    executions_per_trial = 3,
    directory='tuner1',
    project_name='ml8'
)

In [120]:
tuner.search(x_train, y_train, epochs=50, validation_data=(x_val, y_val))

In [121]:
# Trial summary example
# Hyperparameters:
# units: 448
# activation: relu
# dropout: False
# learning_rate: 0.001
# Score: 0.56414661804835

In [117]:
from tensorflow import keras
import keras_tuner as kt
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# Building a model using tuner best result

In [122]:
model = Sequential()
#input layer
model.add(layers.Flatten(input_shape=(9216,)))
#first layer
model.add(Dense(448, activation='relu'))
#second layer
model.add(Dense(448, activation='relu'))
#third layer
model.add(Dense(448, activation='relu'))
#4th layer
model.add(Dense(448, activation='relu'))
#output layer
model.add(Dense(5, activation='softmax'))

In [123]:
opt=tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])
history = model.fit(x_train, y_train, batch_size=32, epochs=50,
                   validation_data=(x_val, y_val))

Epoch 1/50
31/31 [==============================] - 3s 78ms/step - loss: 2.8950 - accuracy: 0.1969 - val_loss: 1.6803 - val_accuracy: 0.2000
Epoch 2/50
31/31 [==============================] - 2s 68ms/step - loss: 1.6637 - accuracy: 0.2247 - val_loss: 1.5516 - val_accuracy: 0.2498
Epoch 3/50
31/31 [==============================] - 2s 68ms/step - loss: 1.4952 - accuracy: 0.3289 - val_loss: 1.4707 - val_accuracy: 0.4055
Epoch 4/50
31/31 [==============================] - 2s 65ms/step - loss: 1.3415 - accuracy: 0.4598 - val_loss: 1.4871 - val_accuracy: 0.3412
Epoch 5/50
31/31 [==============================] - 2s 66ms/step - loss: 1.1921 - accuracy: 0.4722 - val_loss: 1.2417 - val_accuracy: 0.4832
Epoch 6/50
31/31 [==============================] - 2s 66ms/step - loss: 1.0455 - accuracy: 0.5278 - val_loss: 1.3393 - val_accuracy: 0.4244
Epoch 7/50
31/31 [==============================] - 2s 64ms/step - loss: 0.7508 - accuracy: 0.6711 - val_loss: 1.4797 - val_accuracy: 0.3639
Epoch 8/50
31/31 [==============================] - 2s 65ms/step - loss: 0.6473 - accuracy: 0.7392 - val_loss: 2.5933 - val_accuracy: 0.3368
Epoch 9/50
31/31 [==============================] - 2s 65ms/step - loss: 0.7742 - accuracy: 0.6660 - val_loss: 1.4890 - val_accuracy: 0.3942
Epoch 10/50
31/31 [==============================] - 2s 67ms/step - loss: 0.7908 - accuracy: 0.6392 - val_loss: 1.8940 - val_accuracy: 0.4471
Epoch 11/50
31/31 [==============================] - 2s 68ms/step - loss: 0.6349 - accuracy: 0.7423 - val_loss: 1.5120 - val_accuracy: 0.4134
Epoch 12/50
31/31 [==============================] - 2s 65ms/step - loss: 0.6102 - accuracy: 0.7268 - val_loss: 1.2651 - val_accuracy: 0.5086
Epoch 13/50
31/31 [==============================] - 2s 65ms/step - loss: 0.4819 - accuracy: 0.7866 - val_loss: 2.0266 - val_accuracy: 0.4378
Epoch 14/50
31/31 [==============================] - 2s 66ms/step - loss: 0.7610 - accuracy: 0.6763 - val_loss: 1.4366 - val_accuracy: 0.5148
Epoch 15/50
31/31 [==============================] - 2s 68ms/step - loss: 0.4058 - accuracy: 0.8320 - val_loss: 1.8172 - val_accuracy: 0.5423
Epoch 16/50
31/31 [==============================] - 2s 65ms/step - loss: 0.4661 - accuracy: 0.7969 - val_loss: 1.9179 - val_accuracy: 0.4615
Epoch 17/50
31/31 [==============================] - 2s 66ms/step - loss: 0.3973 - accuracy: 0.8289 - val_loss: 1.7376 - val_accuracy: 0.5148
Epoch 18/50
31/31 [==============================] - 2s 65ms/step - loss: 0.2987 - accuracy: 0.8711 - val_loss: 1.8864 - val_accuracy: 0.5488
Epoch 19/50
31/31 [==============================] - 2s 69ms/step - loss: 0.4741 - accuracy: 0.8072 - val_loss: 1.8102 - val_accuracy: 0.3993
Epoch 20/50
31/31 [==============================] - 2s 64ms/step - loss: 0.3617 - accuracy: 0.8691 - val_loss: 2.0176 - val_accuracy: 0.4729
Epoch 21/50
31/31 [==============================] - 2s 65ms/step - loss: 0.3232 - accuracy: 0.8639 - val_loss: 1.9670 - val_accuracy: 0.4784
Epoch 22/50
31/31 [==============================] - 2s 65ms/step - loss: 0.6421 - accuracy: 0.7464 - val_loss: 1.7268 - val_accuracy: 0.4766
Epoch 23/50
31/31 [==============================] - 2s 65ms/step - loss: 0.5681 - accuracy: 0.7660 - val_loss: 1.6018 - val_accuracy: 0.4794
Epoch 24/50
31/31 [==============================] - 2s 64ms/step - loss: 0.4752 - accuracy: 0.7938 - val_loss: 1.6467 - val_accuracy: 0.4794
Epoch 25/50
31/31 [==============================] - 2s 69ms/step - loss: 0.3731 - accuracy: 0.8557 - val_loss: 2.3018 - val_accuracy: 0.4601
Epoch 26/50
31/31 [==============================] - 2s 68ms/step - loss: 0.3551 - accuracy: 0.8680 - val_loss: 1.4844 - val_accuracy: 0.5062
Epoch 27/50
31/31 [==============================] - 2s 67ms/step - loss: 0.2413 - accuracy: 0.9031 - val_loss: 2.1300 - val_accuracy: 0.4928
Epoch 28/50
31/31 [==============================] - 2s 69ms/step - loss: 0.3035 - accuracy: 0.8763 - val_loss: 1.8408 - val_accuracy: 0.5206
Epoch 29/50
31/31 [==============================] - 2s 72ms/step - loss: 0.3506 - accuracy: 0.8474 - val_loss: 2.6812 - val_accuracy: 0.4629
Epoch 30/50
31/31 [==============================] - 2s 70ms/step - loss: 0.2339 - accuracy: 0.9103 - val_loss: 1.8099 - val_accuracy: 0.5086
Epoch 31/50
31/31 [==============================] - 2s 68ms/step - loss: 0.2548 - accuracy: 0.9134 - val_loss: 1.7800 - val_accuracy: 0.5361
Epoch 32/50
31/31 [==============================] - 2s 67ms/step - loss: 0.2170 - accuracy: 0.9144 - val_loss: 2.1891 - val_accuracy: 0.4990
Epoch 33/50
31/31 [==============================] - 2s 70ms/step - loss: 0.4507 - accuracy: 0.8227 - val_loss: 1.5692 - val_accuracy: 0.4890
Epoch 34/50
31/31 [==============================] - 2s 67ms/step - loss: 0.2679 - accuracy: 0.8990 - val_loss: 2.1909 - val_accuracy: 0.4409
Epoch 35/50
31/31 [==============================] - 2s 67ms/step - loss: 0.2116 - accuracy: 0.9299 - val_loss: 2.3689 - val_accuracy: 0.4564
Epoch 36/50
31/31 [==============================] - 2s 67ms/step - loss: 0.1685 - accuracy: 0.9371 - val_loss: 3.2131 - val_accuracy: 0.3412
Epoch 37/50
31/31 [==============================] - 2s 66ms/step - loss: 0.2956 - accuracy: 0.8835 - val_loss: 2.2813 - val_accuracy: 0.5065
Epoch 38/50
31/31 [==============================] - 2s 65ms/step - loss: 0.1290 - accuracy: 0.9536 - val_loss: 2.0213 - val_accuracy: 0.5076
Epoch 39/50
31/31 [==============================] - 2s 65ms/step - loss: 0.3442 - accuracy: 0.8598 - val_loss: 2.5477 - val_accuracy: 0.4289
Epoch 40/50
31/31 [==============================] - 2s 69ms/step - loss: 0.1802 - accuracy: 0.9278 - val_loss: 2.6654 - val_accuracy: 0.4883
Epoch 41/50
31/31 [==============================] - 2s 67ms/step - loss: 0.1825 - accuracy: 0.9299 - val_loss: 3.0399 - val_accuracy: 0.4426
Epoch 42/50
31/31 [==============================] - 2s 69ms/step - loss: 0.3494 - accuracy: 0.8722 - val_loss: 2.1946 - val_accuracy: 0.4653
Epoch 43/50
31/31 [==============================] - 2s 66ms/step - loss: 0.2671 - accuracy: 0.9021 - val_loss: 2.2273 - val_accuracy: 0.5058
Epoch 44/50
31/31 [==============================] - 2s 66ms/step - loss: 0.1640 - accuracy: 0.9412 - val_loss: 2.3178 - val_accuracy: 0.4656
Epoch 45/50
31/31 [==============================] - 2s 66ms/step - loss: 0.1369 - accuracy: 0.9340 - val_loss: 2.5061 - val_accuracy: 0.4948
Epoch 46/50
31/31 [==============================] - 2s 66ms/step - loss: 0.1923 - accuracy: 0.9155 - val_loss: 1.9399 - val_accuracy: 0.5206
Epoch 47/50
31/31 [==============================] - 2s 65ms/step - loss: 0.1824 - accuracy: 0.9227 - val_loss: 3.0123 - val_accuracy: 0.4588
Epoch 48/50
31/31 [==============================] - 2s 66ms/step - loss: 0.1864 - accuracy: 0.9289 - val_loss: 2.4772 - val_accuracy: 0.4787
Epoch 49/50
31/31 [==============================] - 2s 66ms/step - loss: 0.1599 - accuracy: 0.9361 - val_loss: 2.3705 - val_accuracy: 0.4828
Epoch 50/50
31/31 [==============================] - 2s 67ms/step - loss: 0.2530 - accuracy: 0.8948 - val_loss: 2.4083 - val_accuracy: 0.4973

# Making Predictions on Test Data

In [124]:
x_test = np.array(test_arr)/255
x_test=np.expand_dims(x_test,axis=2)

In [125]:
x_test.shape

(1940, 9216, 1)

In [126]:
predictions = model.predict(x_test)
predictions_label = np.argmax(predictions,axis=-1)
predictions_class = label_encoder.inverse_transform(predictions_label)

In [127]:
print(predictions_class)

['airplane' 'human' 'airplane' ... 'airplane' 'truck' 'car']

In [128]:
path='drive/MyDrive/Colab Notebooks/Test_data/Test'
filename=[]
file_names = os.listdir(path) 
for i in range(len(file_names)):
  filename.append(path+'/'+file_names[i])

# make a dataframe of files
test_df1= pd.DataFrame()
test_df1['file_name']= filename
label_list = predictions_class.tolist()
test_df1['Label'] = pd.DataFrame(label_list)
test_df1

                                              file_name     Label
0     drive/MyDrive/Colab Notebooks/Test_data/Test/0...  airplane
1     drive/MyDrive/Colab Notebooks/Test_data/Test/0...     human
2     drive/MyDrive/Colab Notebooks/Test_data/Test/0...  airplane
3     drive/MyDrive/Colab Notebooks/Test_data/Test/0...       car
4     drive/MyDrive/Colab Notebooks/Test_data/Test/0...       car
...                                                 ...       ...
1935  drive/MyDrive/Colab Notebooks/Test_data/Test/0...  airplane
1936  drive/MyDrive/Colab Notebooks/Test_data/Test/0...     human
1937  drive/MyDrive/Colab Notebooks/Test_data/Test/0...  airplane
1938  drive/MyDrive/Colab Notebooks/Test_data/Test/0...     truck
1939  drive/MyDrive/Colab Notebooks/Test_data/Test/0...       car

[1940 rows x 2 columns]

In [70]:
test_df1.to_csv('my_submission.csv')

# Confusion Matrix and Classification Report on Training data

In [130]:
from sklearn.metrics import confusion_matrix
predict_train = model.predict(x_train)
y_train_new=np.argmax(y_train, axis=1)
predict_train=np.argmax(predict_train, axis=1)
train_confusion_mat = confusion_matrix(y_train_new,predict_train)

In [132]:
classes = ['airplane', 'animal', 'car', 'human', 'truck']
train_confusion_mat = np.column_stack((classes , train_confusion_mat))

In [137]:
classes = ['classes','airplane', 'animal', 'car', 'human', 'truck']
train_confusion_mat_df= pd.DataFrame(train_confusion_mat, columns=classes)
train_confusion_mat_df

    classes airplane animal  car human truck
0  airplane      193      1    0     0     0
1    animal        4    184    0     6     0
2       car        0      0  193     0     1
3     human        0      0    0   194     0
4     truck        0      0   15     0   179

In [150]:
from sklearn.metrics import classification_report
print(classification_report(y_train_new,predict_train,target_names=['airplane', 'animal', 'car', 'human', 'truck']))

              precision    recall  f1-score   support

    airplane       0.98      0.99      0.99       194
      animal       0.99      0.95      0.97       194
         car       0.93      0.99      0.96       194
       human       0.97      1.00      0.98       194
       truck       0.99      0.92      0.96       194

    accuracy                           0.97       970
   macro avg       0.97      0.97      0.97       970
weighted avg       0.97      0.97      0.97       970

# Confusion Matrix and Classification report on Validation Data

In [151]:
from sklearn.metrics import confusion_matrix
predict_val = model.predict(x_val)
y_val_new=np.argmax(y_val, axis=1)
predict_val=np.argmax(predict_val, axis=1)
val_confusion_mat = confusion_matrix(y_val_new,predict_val)

In [152]:
classes = ['airplane', 'animal', 'car', 'human', 'truck']
val_confusion_mat = np.column_stack((classes , val_confusion_mat))

In [153]:
classes = ['classes','airplane', 'animal', 'car', 'human', 'truck']
val_confusion_mat_df= pd.DataFrame(val_confusion_mat, columns=classes)
val_confusion_mat_df

    classes airplane animal  car human truck
0  airplane      143      0  427     5     7
1    animal      143      0  427     5     7
2       car       78      7  467    20    10
3     human       60      6    4   512     0
4     truck        5      1  251     0   325

In [154]:
from sklearn.metrics import classification_report
print(classification_report(y_val_new,predict_val,target_names=['airplane', 'animal', 'car', 'human', 'truck']))

              precision    recall  f1-score   support

    airplane       0.33      0.25      0.28       582
      animal       0.00      0.00      0.00       582
         car       0.30      0.80      0.43       582
       human       0.94      0.88      0.91       582
       truck       0.93      0.56      0.70       582

    accuracy                           0.50      2910
   macro avg       0.50      0.50      0.46      2910
weighted avg       0.50      0.50      0.46      2910